/* background banner */
#bg-img {
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.6)
    ),
    url(images/img_1.png);
  background-size: cover;
  height: 90vh;
}
/* list style cho cards  */
#cards li {
  list-style-type: none;
}
#cards li p:first-child::before {
  content: "\2022";
  margin: auto 10px auto 0;
  font-size: 32px;
  color: #0d6efd;
}
